@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fade-out-scroll {
  animation: fadeOut linear;
  animation-timeline: view();
  animation-range: exit 0% exit 30%;
}

html, body, #root {
  height: 100%;
}

